{% extends 'portfolio/index.html' %}
{% load static %}


{% block body %}
    <section>
        <div class="container pt-4" style="min-height: 100vh;">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'portfolio/img/last.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bootstrap Resume Template</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Use Template</a>
                          <a href="#" class="btn btn-secondary">View Demo</a>
                          
                        </div>
                      </div>
                </div>
            </div>
        </div>  
    </section>
{% endblock body %}
